a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.standItem {
    display: flex;

    margin: 4px;
    padding: 5px 10px;
    width: 32%;

    list-style: none;
    border: 2px solid cadetblue;
    border-radius: 10px;
}

.standItem:hover {
    background-color: #a6cccd;
}

.standItem:active {
    background-color: cadetblue;
}

.standImage {
    width: 40px;
    height:40px;

    margin-right: 10px;

    border-radius: 10px;
}

.standName {
    font-size: 18px;
}

.standImage,
.standName {
    align-self: center;
}

.description {
    opacity: 0;
}

.standItem:hover .standName .description {
    opacity: 0.7;
}

@media (max-width: 990px) {
    .standItem {
        width: 48%;
    }
}

@media (max-width: 600px) {
    .standItem {
        width: 98%;
    }
}