h1 {
    font-size: 22px;
    margin: 10px 0 0 5px;
    font-weight: normal;
}

.container {
    margin-bottom: 40px;
}

.containerStandList {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /*max-height: 640px;*/
    /*overflow: scroll;*/
}
