.mainPage {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.chartContainer {
    /*margin: 0 auto;*/
}